@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Friends and Their Cities</h2>
    <table border="1">
        <tr>
            <th>Friend Name</th>
            <th>City</th>
        </tr>
        <tr>
            <td>Gotu</td>
            <td>Spain</td>
        </tr>
        <tr>
            <td>Deepu</td>
            <td>UK</td>
        </tr>
        <tr>
            <td>HP</td>
            <td>Baroda</td>
        </tr>
        <tr>
            <td>AP</td>
            <td>Australia</td>
        </tr>
        <tr>
            <td>NS</td>
            <td>Baroda</td>
        </tr>
    </table>
</div>

